<div id="wrapper">
  <div id="header"></div>

  <div id="content">
    <div class="banks-open-question">
      <strong>Are US banks closed today?</strong>
    </div>

    <div class="banks-open-status">
      <strong><%= @bank_status.closed ? "Yes." : "No." %></strong>
      <%= @bank_status.message %>
    </div>
  </div>

  <div id="footer">
    <center>
      <strong>
        <div>Bank statuses are provided on a best-effort basis only, and are not guaranteed.  Some banks may not follow standard scheduling.</div>
        <div>The <%= link_to("Federal Reserve schedule", "http://www.federalreserve.gov/aboutthefed/k8.htm") %> is used to determine bank statuses.  Some banks may not adhere to this schedule.</div>
      </strong>
      Made by <%= link_to("druskin.co", "https://www.druskin.co") %>.
    </center>
  </div>
</div>