<!DOCTYPE html>
<html>
<head>
  <title>Are banks closed today?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
